:root { 
--gray_500:#a1a1a1; 
--gray_800:#4f4f4f; 
--light_green_100:#d0f8d0; 
--blue_A100:#80abff; 
--green_800:#009c0f; 
--gray_200:#f0f0f0; 
--green_A100:#a2ffc7; 
--black_900:#000000; 
--deep_orange_200:#ffa2a2; 
--blue_200:#a2c7ff; 
--purple_A100:#e1a2ff; 
--white_A700:#ffffff; 
--yellow_200:#fff0a2; 
}